<form>
<mat-tab-group headerPosition="above">

  <!-- Homepage -->
    <mat-tab label="Homepage"> 

      <div class="post">
        <h5>CHIEF DIRECTOR: ENGINEERING SERVICES</h5>
      <p>
        <br>

        professional judgment. Skills: Decision making; Team leadership; Analytical skills; Creativity; Self-management; Financial management; Customer focus and responsiveness; Communication; Computer literacy; Planning and
        organising; Conflict management; People management; Negotiation skills; Problem solving and analysis Change
        management; Innovation. Other: Willing to adapt work schedule in accordance with professional requirement.</p>
        <button  [routerLink]="['/register']" mat-raised-button>Apply Now</button>
    </div>
      
      

    </mat-tab>
    


  </mat-tab-group>
</form>

