form{
 background-image: url('/front/src/assets/abstract-orange-minimalism-circle-wallpaper-thumb.jpg');
 //background-color: lavender;
}

p{
    color: black;
}
label{
    background-color: orange;
    font-size: 40px;
    color: orange;
}

.post{
    align-content: center;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.loginB{
    margin-left: 90%;
}