mat-card{
    //background-color: white;
    align-items: center;
    background-color: aliceblue;
}
button{
    //margin-top: 10px;
    background-color: orange;
}
.matInput{
    width: 40px;
}
input{
    background-color: lightgray;
    color: black;
}
mat-label{
    color: black;
}
mat-form-field{
    width: 200px !important;
}
